.comment-severity {
  font-weight: bold;
  margin: 1.5em 0;
}
.comment-severity.comment-severity-major {
  color: #aa0000;
}
.comment-severity.comment-severity-minor {
  color: #cc5500;
}
.comment-severity.comment-severity-info {
  color: #006600;
}
.comment-dlg .save-major {
  color: #aa0000;
}
.comment-dlg .save-minor {
  color: #cc5500;
}
.comment-dlg .save-info {
  color: #006600;
}
