#category_form{
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;  
   //background: #ccc;
}


.form-control{
    background-color: #fff;
   // height: 20px;
    line-height: 20px;
    height:30px;
}


#category_form button { 
    
    height: 30px;
    color: #777;
}

#category_form select { 

    padding-top:0px;
    padding-bottom:0px;
}

#category_editor{
    
    background: #fff; 

}

#category_editor .row {

    background: #fff;
    border-top: 1px solid #dddddd; 
    margin:0px;

}


#close-admin {
    float: right;
}

#close-admin img { 
    vertical-align: middle;
    height: 40px;
    width: 40px;
    float: right;

}


#editor_message_pane  {
    display: inline-block;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}